NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://neondb_owner:npg_IO9LiqnvV4eU@ep-flat-waterfall-b45rsd73-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

JWT_SECRET="change-me"
JWT_EXPIRES_IN="1d"

CORS_ORIGIN="http://localhost:3000"
